<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"> {{!-- CSS --}}
    <link rel="stylesheet" href="./assets/css/styles.css"> {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Arimo:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">

    <title>News Scraper</title>

    {{!-- Bootstrap jquery and js --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>

    {{!-- Javascript --}}
    <script src="./assets/js/app.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>